In [33]:
## Setup and Data Preparation
# Import necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import yfinance as yf
from statsmodels.tsa.stattools import coint
import datetime as dt

import warnings
warnings.filterwarnings('ignore')

In [34]:
tickers = [
    # Tech
    'AAPL', 'MSFT', 'GOOGL', 'META', 'NVDA', 'AMD', 'ORCL', 'QCOM',
    # Financials  
    'JPM', 'BAC', 'WFC', 'C', 'GS', 'MS', 'AXP',
    # Energy
    'XOM', 'CVX', 'COP', 'SLB', 'EOG',
    # Consumer Staples
    'KO', 'PEP', 'WMT', 'TGT', 'PG', 'KMB', 'COST', 'MCD', 'NKE',
    # Healthcare
    'JNJ', 'PFE', 'UNH', 'CVS', 'LLY',
    # Industrials/Discretionary
    'HD', 'LOW', 'DIS', 'NFLX', 'TSLA', 'DE'
]

In [35]:
data = yf.download(tickers, period='1d')['Close']

[*********************100%***********************]  40 of 40 completed

In [40]:
today = dt.datetime.now().date()
today_df = pd.DataFrame(data)
today_df.index = [today]
today_df.index.name = 'Date'
today_df

Ticker,AAPL,AMD,AXP,BAC,C,COP,COST,CVS,CVX,DE,...,PFE,PG,QCOM,SLB,TGT,TSLA,UNH,WFC,WMT,XOM
Date,,,,,,,,,,,,,,,,,,,,,
2025-11-17,267.459991,240.520004,341.25,51.48,98.190002,88.720001,912.590027,78.410004,154.820007,475.980011,...,25.08,145.820007,166.75,35.799999,88.480003,408.920013,320.519989,83.419998,102.949997,117.68

In [37]:
today_df

Date     2025-11-17
Ticker
AAPL     267.459991
AMD      240.520004
AXP      341.250000
BAC       51.480000
C         98.190002
COP       88.720001
COST     912.590027
CVS       78.410004
CVX      154.820007
DE       475.980011
DIS      105.690002
EOG      109.480003
GOOGL    285.019989
GS       775.559998
HD       358.029999
JNJ      199.580002
JPM      300.369995
KMB      103.660004
KO        70.680000
LLY     1021.700012
LOW      225.000000
MCD      304.899994
META     602.010010
MS       159.449997
MSFT     507.489990
NFLX     110.290001
NKE       62.900002
NVDA     186.600006
ORCL     219.860001
PEP      147.830002
PFE       25.080000
PG       145.820007
QCOM     166.750000
SLB       35.799999
TGT       88.480003
TSLA     408.920013
UNH      320.519989
WFC       83.419998
WMT      102.949997
XOM      117.680000

In [38]:
pd.read_parquet('close_1year.parquet')

Ticker,AAPL,AMD,AXP,BAC,C,COP,COST,CVS,CVX,DE,...,PFE,PG,QCOM,SLB,TGT,TSLA,UNH,WFC,WMT,XOM
Date,,,,,,,,,,,,,,,,,,,,,
2024-11-18,226.993362,138.929993,282.496826,45.645805,67.137375,110.976501,914.736755,53.751408,155.353729,398.923187,...,23.182608,166.354904,160.878891,42.220760,148.868317,338.739990,577.133545,72.514244,83.268097,116.050789
2024-11-19,227.252197,139.389999,282.506683,45.342934,66.748177,110.322891,925.321594,53.482891,154.232742,394.544708,...,23.406414,166.364624,161.084259,41.842140,148.335831,346.000000,564.752014,71.868294,85.763763,114.430252
2024-11-20,227.968948,137.600006,284.643646,45.000984,66.436813,110.654572,923.262329,54.499424,155.904556,399.347260,...,23.257210,166.491287,150.874069,42.259590,116.576950,342.029999,587.753174,72.015091,86.338158,116.060432
2024-11-21,227.491104,137.490005,289.877319,45.391781,67.088730,109.162010,950.689209,54.758343,156.194473,431.475677,...,23.434387,168.303406,152.037888,42.774128,116.452438,339.640015,584.807068,73.238518,87.536469,117.613434
2024-11-22,228.835037,138.350006,298.088867,45.919369,67.954697,109.015678,959.005798,55.631023,156.899933,440.459381,...,23.919302,171.742523,153.338577,42.939159,119.727936,352.559998,578.327637,74.344482,89.566689,117.478386
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-11-11,275.250000,237.520004,370.160004,53.630001,100.760002,90.690002,913.859985,79.870003,156.240005,477.950012,...,25.510000,148.539993,173.979996,37.610001,90.440002,439.619995,327.450012,86.190002,103.440002,118.741417
2025-11-12,273.470001,258.890015,372.769989,54.110001,102.870003,89.070000,914.000000,80.260002,153.320007,480.779999,...,25.870001,148.009995,176.669998,36.070000,91.910004,430.600006,339.059998,86.260002,103.440002,117.095818
2025-11-13,272.950012,247.960007,364.730011,52.869999,100.669998,89.419998,925.080017,79.239998,155.580002,473.410004,...,25.790001,147.960007,174.500000,36.310001,90.620003,401.989990,332.519989,84.699997,102.540001,117.760002
2025-11-14,272.410004,246.809998,357.179993,52.610001,100.300003,91.370003,922.979980,77.809998,157.619995,476.230011,...,25.059999,147.669998,173.979996,36.939999,89.900002,404.350006,321.859985,85.050003,102.480003,119.290001
2025-11-17,267.459991,240.520004,341.250000,51.480000,98.190002,88.720001,912.590027,78.410004,154.820007,475.980011,...,25.080000,145.820007,166.750000,35.799999,88.480003,408.920013,320.519989,83.419998,102.949997,117.680000